# Ignorar archivos locales y de documentación de la raíz
*.sql
*.docx
*.txt

# Ignorar la compilación típica de Java
target/
.idea/
*.iml


# Ignorar archivos de sistema operativo
.DS_Store
Thumbs.db

# MCP keys (no subir al repo)
.mcp.json
.agents
.claude
.junie


CLAUDE.md
README.md

